@page "/public"
@model PublicModel
<h2>Public Timeline</h2>

@* Display Tweets *@

<ul class=messages>

    @if (Model.Messages.Count != 0)
    {
        foreach (var message in Model.Messages)
        {
            <li>
                @* <img src="{{message.email|gravatar(size=48) }}"> *@
                <p>
                    <strong><a href="#">@message.Author.Username</a></strong>
                    @message.Message.Text
                    <small>&mdash; @message.Message.PubDate</small>
                </p>
            </li>
        }
    }
    else
    {
        <li><em>There's no message so far.</em></li>
    }
</ul>
