@page
@model RegisterModel

<h2>Sign Up</h2>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="error"><strong>Error:</strong> @Model.ErrorMessage</div>
}
<form action="" method="post">
    <dl>
        <dt>Username:</dt>
        <dd><input type="text" asp-for="Username" size="30"></dd>

        <dt>Email:</dt>
        <dd><input type="text" asp-for="Email" size="30"></dd>

        <dt>Password:</dt>
        <dd><input type="text" asp-for="Password" size="30"></dd>

        <dt>Password <small>(repeat)</small>:</dt>
        <dd><input type="text" asp-for="Password2" size="30"></dd>
    </dl>

    <div class="actions"><input type="submit" value="Sign Up"></div>
</form>
