!build
build/*
!build/*.pdf
**/*.aux
**/*.bbl
**/*.bcf
**/*.big
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.mtc
**/*.mtc0
**/*.out
**/*.pdf
**/*.ptc1
**/*.ptc2
**/*.xml
**/*.blg
**/*.maf
**/*.synctex.gz
**/*.toc
