<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - itu_new_minitwit</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/itu_new_minitwit.styles.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> -->
    <!-- <link rel="stylesheet" href="~/itu_new_minitwit.styles.css" asp-append-version="true" /> -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
</head>
@if (TempData.ContainsKey("FLASH_MESSAGE"))
{
    <ul class="flashes">
    @foreach (var message in (string[])TempData["FLASH_MESSAGE"])
        {
            <li>@message</li>
        }
    </ul>


    var a = TempData.Remove("FLASH_MESSAGE");
}

<body>
    <div class="page">
        <h1>MiniTwit</h1>
        <div class="navigation">
            @if (this.Context.Session.TryGetValue("user_id", out byte[]? bytes))
            {
                <a asp-page="/Index">my timeline | </a>
                //TODO Change to correct link
                <a asp-page="/Public">public timeline | </a>
                <a asp-page="/Index" asp-page-handler="Logout">sign out</a>
                //TODO Change to correct link
            }
            else
            {
                <a asp-page="/Index">public timeline | </a>
                <a asp-page="/Register">sign up | </a>
                <a asp-page="/Login">sign in</a>
            }
        </div>
        <div class="body">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="footer">
            MiniTwit &mdash; A Razor Page Application
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>
