<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - itu_new_minitwit</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/itu_new_minitwit.styles.css" asp-append-version="true" />
</head>
@if (TempData.ContainsKey("FLASH_MESSAGE"))
{
    <ul class="flashes">
    @foreach (var message in (string[])TempData["FLASH_MESSAGE"])
        {
            <li>@message</li>
        }
    </ul>


    var a = TempData.Remove("FLASH_MESSAGE");
}

<body>
    <div class="page">
        <h1>MiniTwit</h1>
        <div class="navigation">
            <a href="{{ url_for('public_timeline') }}">public timeline</a> |
            <a href="{{ url_for('register') }}">sign up</a> |
            <a href="{{ url_for('login') }}">sign in</a>
        </div>

        <div class="body">
            @RenderBody()
        </div>

        <div class="footer">
            &copy; 2024 - itu_new_minitwit - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>
